.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #2340ff;
    padding: 10px;
}
div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background: #aaffbb;
    border: 1px solid black;
}

@media screen and (max-width: 600px){
.container {
 grid-template-columns: 3fr;
}

}